In [1]:
cd langdata

/projects/metis2/anubha/research/Multilingual-Fig-QA/langdata

In [2]:
#Reading Dataset

In [3]:
ls

en_dev.csv  en_train.csv  hi.csv  id.csv  jv.csv  kn.csv  su.csv  sw.csv

In [77]:
import pandas as pd

In [78]:
# load english data
df_original = pd.read_csv("en_train.csv")
df_original.head()

,startphrase,ending1,ending2,labels
0,Her word had the strength of titanium.,Her promises can be believed.,Her promises cannot be trusted.,0
1,Her word had the strength of a wine glass.,Her promises can be believed.,Her promises cannot be trusted.,1
2,His kisses have the passion of lovers meeting ...,His kisses are demonstrative and intense.,His kiss is unemotional.,0
3,His kisses have the passion of a couple in a l...,His kisses are demonstrative and intense.,His kiss is unemotional.,1
4,This winter is as cold as my mother-in-law tow...,It's very cold,It's pretty warm,0

In [79]:
#load other data
df = pd.read_csv("su.csv")
df = df.reindex(df_original.columns, axis=1)
df.head()

,startphrase,ending1,ending2,labels
0,hirup kawas kurung batok,hirup kawas kakekang,hirup kawas bebas.,0
1,hirup kawas murag bulu bitis.,hirup kawas kakekang,hirup kawas bebas.,1
2,jadi jalma teh kudu hampang birit,jadi jalma teh kudu rajin,jadi jalma teh kudu kedul.,0
3,jadi jalma teh kudu beurat birit.,jadi jalma teh kudu rajin,jadi jalma teh kudu kedul.,1
4,Mamat lumpatna siga uncal,mamat lumpat siga gancang,mamat lumpat siga laun.,0

In [80]:
#Add id to the loaded data
count =0
c=[]
for i in range(int(df.shape[0]/2)):
    c.append(count)
    c.append(count)
    count+=1
df["id"] = c

In [81]:
df.head()

,startphrase,ending1,ending2,labels,id
0,hirup kawas kurung batok,hirup kawas kakekang,hirup kawas bebas.,0,0
1,hirup kawas murag bulu bitis.,hirup kawas kakekang,hirup kawas bebas.,1,0
2,jadi jalma teh kudu hampang birit,jadi jalma teh kudu rajin,jadi jalma teh kudu kedul.,0,1
3,jadi jalma teh kudu beurat birit.,jadi jalma teh kudu rajin,jadi jalma teh kudu kedul.,1,1
4,Mamat lumpatna siga uncal,mamat lumpat siga gancang,mamat lumpat siga laun.,0,2

In [82]:
#df_original = english data
#df = language data
#k = number of datapoints to be added
#pair = in pair / not

def adding_datapoints(df_original, df, k, pair):
    df_final = pd.DataFrame(columns=df_original.columns)
    if pair:
        df_pair = df.sample(n=k)
        for index, r in df_pair.iterrows():
            r_id = r['id']
            w = df.loc[df['id'] == r_id]
            w.sort_values(by=['labels'], inplace=True)
            w= w.drop(['id'], axis=1)
            df_final = df_final.append(w)
    else:
        df_pair = df.sample(n=k)
        w= df_pair.drop(['id'], axis=1)
        df_final = df_final.append(w)

    df_total = pd.concat([df_original,df_final])
    return df_total

In [83]:
#final dataframe, rows added in the end
df_total = adding_datapoints(df_original, df, 3, True)
df_total.tail()

/tmp/ipykernel_2627/955674512.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  w.sort_values(by=['labels'], inplace=True)
/tmp/ipykernel_2627/955674512.py:15: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_final = df_final.append(w)
/tmp/ipykernel_2627/955674512.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  w.sort_values(by=['labels'], inplace=True)
/tmp/ipykernel_2627/955674512.py:15: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_final = df_final.append(w)
/tmp/ipykernel_2627/955674512.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  w.sort_values(by=['labels'], inplace=True)
/tmp/ipykernel_2627/955674512.py:15: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_final = df_final.append(w)

,startphrase,ending1,ending2,labels
21,si Udin jadi jalma teh meni berehan.,"si Udin jadi jalma teh meni koret, pedit",si Udin jadi jalma teh meni reseup babagi.,1
144,Rupi na siga arjuna,Rupi na kasep,Rupi na awon.,0
145,Rupi na siga cepot.,Rupi na kasep,Rupi na awon.,1
478,Haténa bener-bener salega sagara,Haténa bener-bener baik,Haténa bener-bener jahat.,0
479,Haténa bener-bener teuas kawas batu.,Haténa bener-bener baik,Haténa bener-bener jahat.,1

In [88]:
#loaction : /projects/metis2/anubha/research/Multilingual-Fig-QA/data/addition_data_winogrand -> for paired data addition
#loaction : /projects/metis2/anubha/research/Multilingual-Fig-QA/data/addition_data -> for single data addition
winogrand = r'/projects/metis2/anubha/research/Multilingual-Fig-QA/data/addition_data_winogrand/'
no_winogrand = r'/projects/metis2/anubha/research/Multilingual-Fig-QA/data/addition_data/'
name = "sw_3"
df_total.to_csv(winogrand+name+ ".csv", index = False)